# Dependency directories
node_modules/
dist/
!dist/metadata.json # Include generated metadata in dist

# k6 generated reports
reports/
*.html
*.json
!tsconfig.json # Don't ignore the TypeScript config
!package.json # Don't ignore the actual package config
!dist/metadata.json # Don't ignore generated metadata
!payload.json.example # Don't ignore payload example template

# Test data & artifacts
# We usually ignore the generated test files if they are rebuilt every run
generated/

# Sensitive Data
# IMPORTANT: Ignore the token files created during the test
data/*.json
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor folders
.vscode/
.idea/
.DS_Store

# Qwen context file
QWEN.md
RELEASE_NOTES.md

firebase-debug.log

# npm pack artifacts
*.tgz